@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border-radius: 12px; /* Ajuste o valor para o nível de arredondamento desejado */
  padding: 10px; /* Adiciona um pouco de preenchimento dentro do campo */
  border: 1px solid #ccc; /* Cor da borda */
  font-size: 16px; /* Tamanho da fonte */
}

.Meucard {
  width: 50%;
  border-radius: 12px; /* Ajuste o valor para o nível de arredondamento desejado */
  padding: 10px; /* Adiciona um pouco de preenchimento dentro do campo */
  border: 1px solid #ccc; /* Cor da borda */
  font-size: 16px; /* Tamanho da fonte */
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: floralwhite;
  opacity: calc(80%);
}

.NavBar {
  padding-top: 20px;
}

.textLinha {
  padding-top: 30px;
}